:root {
    --primary-color: #DDEDAA;
    --secondary-color: #93B5C6;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background: lightblue;
    padding: 20px;
    display: flex;
}

#logo {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    color: var(--accent1-color);
    flex-grow: 1;        
}

.navigation {
    list-style: none;
    display: flex;
    gap: 12px;
}

.navigation a {
    color: var(--accent1-color);
    text-decoration: none;
    background-color: var(--accent2-color);
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 8px;
    white-space: nowrap;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {   
    text-align: center; 
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
    margin-top: 40px;
    border-top: 4px solid var(--accent1-color);
}

footer p {
    margin-bottom: 10px;
    color: var(--accent1-color);
    font-weight: bold;
}

.socialmedia {
    display: flex;
    gap: 20px;
}

.socialmedia a {
    text-decoration: none;
    display: inline-block;

}

.socialmedia img {
    width: 30px;
    height: 30px;
}
/*For Trips and Index*/
.cta {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

.cta ,p {
    text-align: center;
}

.cta a {
    width: 150px;
    padding: 8px 12px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
/*For About Us and Index*/
.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article  {
    position: absolute;
    bottom: 50px;
    left: -16px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    border: 1px solid var(--secondary-color);
}

/* About Us */
.history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    background-color: var(--secondary-color);
    gap: 20px;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
}

.history img {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

.adventure {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
}

.adventure figure {
    flex: 1;
    text-align: center;
}

.adventure img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #fff;
}
/* About Us */

/* Contact Us */
.location {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    border-style: double;
    background-color: var(--secondary-color);

}

.location h1 {
    color: var(--accent1-color);
}

.contact-container {
    display: flex;
    gap: 30px;
    margin: 20px 0;
    align-items: flex-start;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 3px;
}

.contact iframe {
    width: 100%;
    max-width: 350px;
    border-radius: 6px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    border-style: double;
    padding: 20px;
    border-radius: 6px;
}

.contact label {
    font-weight: bold;
}

.contact input[type="text"],
.contact textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--accent1-color);
    border-radius: 4px;
}

.radio-group {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

.newsletter {
    margin-top: 10px;
}

.contact button {
    width: 150px;
    padding: 8px 12px;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.employee {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 6px;
}

.employee figure {
    flex: 1;
    text-align: center;
}

.employee img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
/* Contact Us */

/* Index */
/* Description Layout Section */
.description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    border: thin #c0c0c0 solid;
}
  
.description-item {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; 
}
  
.description-item img {
    width: 50%;
    height: auto;
    object-fit: cover;
}
/* Newsletter Form Section */
.contact-form {
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
}
  
.contact-form form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.contact-form label {
    font-weight: bold;
    text-align: left;
}
  
.contact-form input[type="text"],
.contact-form input[type="email"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}
  
.contact-form button {
    padding: 0.75rem;
    background-color: var(--accent2-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.contact-form button:hover {
    background-color: lightblue;
}
/* Index */

/* Trips */

.trips {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    background-color: var(--secondary-color);;
}

.trips h2 {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

.trip {
    flex: 1;
    text-align: center;
}

.trip img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 6px;
}

.trip p {
    text-align: justify;
    margin-top: auto;
    font-weight: bold;
    border: #1F1F1F solid;
    text-align: center;
}

/* trips-table */
.trips-table {
    background-color: var(--secondary-color);
}

.trips-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.trips-table th, .trips-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: var(--secondary-color);
}

.trips-table th {
    background-color: var(--accent2-color);
}
/* Trips */