:root {
    --primary-color: #DDEDAA;
    --secondary-color: #93B5C6;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background: lightblue;
    padding: 20px;
    display: flex;
}

#logo {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    color: var(--accent1-color);
    flex-grow: 1;        
}

.navigation {
    list-style: none;
    display: flex;
    gap: 12px;
}

.navigation a {
    color: var(--accent1-color);
    text-decoration: none;
    background-color: var(--accent2-color);
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 8px;
    white-space: nowrap;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {   
    text-align: center; 
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
    margin-top: 40px;
    border-top: 4px solid var(--accent1-color);
}

footer p {
    margin-bottom: 10px;
    color: var(--accent1-color);
    font-weight: bold;
}

.socialmedia {
    display: flex;
    gap: 20px;
}

.socialmedia a {
    text-decoration: none;
    display: inline-block;

}

.socialmedia img {
    width: 30px;
    height: 30px;
}
/* About Us */
.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article  {
    position: absolute;
    bottom: 50px;
    left: -16px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    border: var(--secondary-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    background-color: var(--secondary-color);
    gap: 20px;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
}

.history img {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

.adventure {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
}

.adventure figure {
    flex: 1;
    text-align: center;
}

.adventure img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #fff;
}
/* About Us */

/* Contact Us */
.location {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    border-style: double;
    background-color: var(--secondary-color);

}

.location h1 {
    color: var(--accent1-color);
}

.contact-container {
    display: flex;
    gap: 30px;
    margin: 20px 0;
    align-items: flex-start;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 3px;
}

.contact iframe {
    width: 100%;
    max-width: 350px;
    border-radius: 6px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    border-style: double;
    padding: 20px;
    border-radius: 6px;
}

.contact label {
    font-weight: bold;
}

.contact input[type="text"],
.contact textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--accent1-color);
    border-radius: 4px;
}

.radio-group {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

.newsletter {
    margin-top: 10px;
}

.contact button {
    width: 150px;
    padding: 8px 12px;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.employee {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 6px;
}

.employee figure {
    flex: 1;
    text-align: center;
}

.employee img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
/* Contact Us */