body {
    line-height: 1.6;
}

header {
    background-color: grey;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 10px;
    font: bold;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}

main {
    width: 400px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 30px 20px 30px grey;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0/ 10%);
    padding: 10px;
    background-color: lightgray;
}

footer {
    background-color: grey;
    color: white;
    padding: 10px 0;
    text-align: center;
}

